<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira+Sans:300,400,400i">
  <link rel="stylesheet" href="{{ "/assets/css/styles.css" | relative_url }}">
  <script
    defer
    src="https://use.fontawesome.com/releases/v5.8.1/js/solid.js"
    integrity="sha384-IA6YnujJIO+z1m4NKyAGvZ9Wmxrd4Px8WFqhFcgRmwLaJaiwijYgApVpo1MV8p77"
    crossorigin="anonymous">
  </script>
  <script
      defer
      src="https://use.fontawesome.com/releases/v5.8.1/js/brands.js"
      integrity="sha384-rUOIFHM3HXni/WG5pzDhA1e2Js5nn4bWudTYujHbbI9ztBIxK54CL4ZNZWwcBQeD"
      crossorigin="anonymous">
  </script>
  <script
      defer
      src="https://use.fontawesome.com/releases/v5.8.1/js/fontawesome.js"
      integrity="sha384-EMmnH+Njn8umuoSMZ3Ae3bC9hDknHKOWL2e9WJD/cN6XLeAN7tr5ZQ0Hx5HDHtkS"
      crossorigin="anonymous">
  </script>
</head>
