<nav class="site-nav">
  <ul class="site-nav-links">
    {% assign about_url = "/" %}
    {% assign blog_url = "/blog/" %}
    {% assign photos_url = "/photos/" %}
    <li>
      <a class="site-nav-link{% if page.url == about_url %} active{% endif %}"
          href="{{ about_url | relative_url }}">About</a>
    </li>
    <li class="site-nav-separator">&#124;</li>
    <li>
      <a class="site-nav-link{% if page.url == blog_url %} active{% endif %}"
          href="{{ blog_url | relative_url }}">Blog</a>
    </li>
    <li class="site-nav-separator">&#124;</li>
    <li>
      <a class="site-nav-link{% if page.url == photos_url %} active{% endif %}"
          href="{{ photos_url | relative_url }}">Photos</a>
    </li>
  </ul>
</nav>
