{%- assign post = include.post -%}
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    {%- include post-meta.html post=post -%}
    <h1 class="post-title p-name" itemprop="name headline">
      <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
    </h1>
  </header>

  <div class="post-content e-content" itemprop="text articleBody">
    <a class="post-photo-link" href="{{ post.photo_url | relative_url }}">
      <img src="{{ post.thumbnail_url | relative_url }}" alt="{{ post.photo_alt }}" itemprop="image">
    </a>

    {{ post.content }}
  </div>

  <a class="u-url" href="{{ post.url | relative_url }}" hidden></a>
</article>
