{%- assign post = include.post -%}
{%- assign date = post.date -%}
{%- assign tags = post.tags -%}
{%- if tags and tags.size > 0 -%}
  {%- assign sorted_tags = tags | sort -%}
{%- else -%}
  {%- assign sorted_tags = nil -%}
{%- endif -%}

<div class="post-meta">
  {%- if date -%}
  <time
    class="post-date dt-published"
    datetime="{{ date | date_to_xmlschema }}"
    itemprop="datePublished">
    {{ date | date: site.date_format }}
  </time>
  <span class="post-meta-divider"></span>
  {%- endif -%}
  <a
    class="disqus-comment-count"
    href="{{ post.url | relative_url }}#disqus_thread"
    data-disqus-identifier="{{ post.id }}">
    comments
  </a>
  {%- if sorted_tags -%}
  <span class="post-meta-divider"></span>
  <ul class="post-tags">
    {%- for tag in sorted_tags -%}
    <li class="post-tag">#{{ tag }}</li>
    {%- endfor -%}
  </ul>
  {%- endif -%}
</div>
