{%- assign social = site.social_links -%}

<ul class="social-links">
  <li class="social-link">
    <a href="https://twitter.com/{{ social.twitter }}" title="Twitter">
      <i class="fab fa-twitter fa-lg fa-fw"></i>
    </a>
  </li>
  <li class="social-link">
    <a href="https://github.com/{{ social.github }}" title="GitHub">
      <i class="fab fa-github fa-lg fa-fw"></i>
    </a>
  </li>
  <li class="social-link">
    <a href="https://linkedin.com/in/{{ social.linkedin }}" title="LinkedIn">
      <i class="fab fa-linkedin-in fa-lg fa-fw"></i>
    </a>
  </li>
  <li class="social-link">
    <a href="mailto:{{ site.email | escape }}">
      <i class="fas fa-envelope fa-lg fa-fw"></i>
    </a>
  </li>
</ul>
