body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure {
  margin-bottom: $spacing-unit / 2;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin-left: 0;
  list-style: none;
}
