body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: $spacing-unit / 2;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;

  & > li {
    margin-left: 0;
    list-style: none;
  }
}

ol {
  padding-left: $spacing-unit * 2;
}

blockquote {
  border-left: $border-width solid $border-color;
  margin: $spacing-unit 0;
  padding-left: $spacing-unit - $border-width;
}
