.page-content,
.site-footer,
.site-header,
.site-nav {
  margin: 0 auto;
  max-width: $content-width;
}

.page-content,
.site-footer,
.site-header,
.site-nav {
  padding: 0 $spacing-unit;
}

.page-content {
  margin-bottom: $spacing-unit;
}

.site-header {
  height: $site-header-height;
}

.site-header-content {
  align-items: center;
  border-bottom: 1px solid $horizontal-line-color;
  display: flex;
  justify-content: space-between;
  padding: $spacing-unit / 2 0 ;
}

.site-nav-link.active,
.site-title,
.social-link {
  &:hover,
  &:visited {
    text-decoration: none;
  }
}

.social-links {
  display: flex;
}

.social-link {
  align-items: center;
  display: flex;
  height: $social-icon-size;
  justify-content: center;
  width: $social-icon-size;
}

.site-footer {
  margin-top: $spacing-unit * 2;
}

.site-footer-content {
  border-top: 1px solid $horizontal-line-color;
  padding-bottom: $spacing-unit * 2;
  padding-top: $spacing-unit / 2;
}

.site-nav {
  display: flex;
  justify-content: flex-end;
}

.site-nav-links {
  align-items: center;
  display: flex;
  padding: $spacing-unit 0;
}

.site-nav-link {
  padding-bottom: 2px;

  &.active, 
  &:hover {
    border-bottom: 2px solid $orange-color;
    padding-bottom: 0;
  }

  a:hover {
    text-decoration: none;
  }
}

.site-nav-separator {
  padding: 0 $spacing-unit / 2;
}

.post {
  margin-bottom: $spacing-unit * 2;
}

.post-title {
  margin-bottom: 0;
}

.profile-image {
  border-radius: 100%;
  display: block;
  height: $profile-image-size;
  margin: $spacing-unit auto $spacing-unit * 2 auto;
  width: $profile-image-size;
}
