.page-content,
.site-footer-content,
.site-header-content {
  margin: 0 auto;
  max-width: $content-width;
}

.page-content,
.site-header,
.site-footer {
  padding: 0 $spacing-unit;
}

.page-content {
  margin-bottom: $spacing-unit;
}

.site-header {
  margin-top: $spacing-unit;
}

.site-header-content {
  align-items: center;
  border-bottom: 1px solid #e0e0e0;
  display: flex;
  justify-content: space-between;
  padding-bottom: $spacing-unit / 2;
}

.site-title {
  margin-bottom: 0;
}

.social-links {
  display: flex;
}

.social-link {
  align-items: center;
  display: flex;
  height: $social-icon-size;
  justify-content: center;
  width: $social-icon-size;
}

.site-footer {
  margin-top: $spacing-unit * 2;
}

.site-nav {
  display: flex;
  justify-content: center;
  padding: $spacing-unit 0;
}

.site-nav-links {
  align-items: center;
  display: flex;
}

.site-nav-link {
  padding-bottom: 2px;

  &.active, 
  &:hover {
    border-bottom: 2px solid $orange-color;
    padding-bottom: 0;
  }

  a:hover {
    text-decoration: none;
  }
}

.site-nav-separator {
  padding: 0 $spacing-unit / 2;
}
