body {
  color: $text-color;
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  line-height: 1.4;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

.site-title {
  font-size: 24px;
}

.site-nav-link {
  font-size: 20px;
}

.post-title {
  font-size: 34px;
}
