body {
  color: $text-color;
  font-family: 'Fira Sans', sans-serif;
  font-size: $text-small;
  font-weight: $weight-regular;
  line-height: 1.4;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: $weight-light;
}

.site-title,
.site-nav-link {
  font-size: $text-medium;
  font-weight: $weight-medium;
}

.post-title {
  font-size: $text-large;
}
