body {
  color: $text-color;
  font-family: 'Fira Sans', sans-serif;
  font-size: $text-body;
  font-weight: $weight-regular;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  line-height: normal;
}

h1 {
  font-size: $text-display;
  font-weight: $weight-extra-light;
}

h2 {
  font-size: $text-title-40;
  font-weight: $weight-light;
}

h3 {
  font-size: $text-title-30;
  font-weight: $weight-light;
}

h4 {
  font-size: $text-title-20;
  font-weight: $weight-regular;
}

h5 {
  font-size: $text-title-10;
  font-weight: $weight-regular;
}

a {
  &:link,
  &:visited {
    color: $link-color;
  }

  &:hover {
    color: $link-hover-color;
  }
}

.site-nav-link,
.site-title,
.social-link {
  &:link,
  &:visited {
    color: $text-color;
  }

  &:hover {
    color: $link-hover-color;
  }
}

.site-title {
  font-size: $text-title-30;
  font-weight: $weight-light;
}

.site-footer {
  color: $text-secondary-color;
}

.post-title {
  font-size: $text-display;
  font-weight: $weight-extra-light;

  a {
    &:link,
    &:visited {
      color: $text-color;
    }

    &:hover {
      color: $link-hover-color;
    }
  }
}

.post-meta {
  color: $text-secondary-color;
  font-size: $text-caption;
}

