$content-width: 600px;
$social-icon-size: 32px;
$spacing-unit: 16px;

$horizontal-line-color: #e0e0e0;
$orange-color: #ff5722;
$text-color: #333;

@import "partials/base";
@import "partials/layout";
@import "partials/typography";
