$content-width: 600px;
$social-icon-size: 32px;
$spacing-unit: 16px;

$horizontal-line-color: #e0e0e0;
$orange-color: #ff5722;
$text-color: #333;

$text-small: 16px; // Material type scale Body 1.
$text-medium: 20px; // Material type scale H6.
$text-large: 34px; // Material type scale H4.

$weight-light: 300;
$weight-regular: 400;
$weight-medium: 500;

@import "partials/base";
@import "partials/layout";
@import "partials/typography";
